body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px; /* Larghezza del canvas di gioco */
    height: 600px; /* Altezza del canvas di gioco */
    background-color: #000; /* Colore di sfondo del labirinto */
}